.show-background {
  background-image: url('https://images.unsplash.com/photo-1488554378835-f7acf46e6c98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
